<html>

    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
    </head>

    <body> 
        <div id="header">
                <h1 id="Title" style="text-align:center; padding-top: 100px; padding-bottom: 50px; font-size: 60px;">PiDuino Irrigation System</h1>
                    <div id="sub" style="text-align: center;  padding-bottom: 300px;";>
                        <div style="float: left; margin-left: 10%;">
                            <h2 id="Light">Light Intensity: </h2>
                            <img id="lightImage" src="/static/transparent.png">
                        </div>

                        <div style="float: right; margin-right: 20%;">
                            <h2 id="Water">Water Tank: </h2>
                            <img id="waterImage" src="/static/transparent.png">
                        </div>
                        
                        
                    </div>
                <div id="chart1" style="width:100%; height:400px;  margin-top: 350px;"></div>
                <div id="chart2" style="width:100%; height:400px;"></div>
                <br>
        </div>
        
    </body>

</html>

<script>

    var Datapoints = 0;
    var d = new Date();
    var n = d.getHours();
    if (n >= 5 && n < 8){
        $("#header").css("background", "url('/static/Sunrise.jpg')");
        $("#header").css("background-size", "contain");
        $("#header").css("background-repeat", "no-repeat");

    }
    else if (n >= 8 && n < 17){
        $("#header").css("background", "url('/static/Daylight.jpeg')");
        $("#header").css("background-size", "contain");
        $("#header").css("background-repeat", "no-repeat");
        $("#Title").css("color", "white");
        $("#sub").css("color", "white");
    }   
    else if (n >= 17 && n < 19){
        $("#header").css("background", "url('/static/Sunset.jpg')");
        $("#header").css("background-size", "contain");
        $("#header").css("background-repeat", "no-repeat");

    }
    else {
        $("#header").css("background", "url('/static/Night.jpg')");
        $("#header").css("background-repeat", "no-repeat");
        $("#header").css("background-size", "contain");
        $("#Title").css("color", "white");
        $("#sub").css("color", "white");
    }

    var layout1 = {
        title: 'Plant #1',
        font: {
            size: 40
        },
        showlegend: false,
        xaxis: {
            title: {
            text: 'Time',
            font: {
                family: 'Courier New, monospace',
                size: 30,
                color: '#7f7f7f'
            }
            },
        }
    };
    var layout2 = {
        title: 'Plant #2',
        font: {
            size: 40
        },
        showlegend: false,
        xaxis: {
            title: {
            text: 'Time',
            font: {
                family: 'Courier New, monospace',
                size: 30,
                color: '#7f7f7f'
            }
            },
        }
    };

    async function getData() {
        
        var ret = [];

        await fetch('http://0.0.0.0:5000/data').then(res => res.text()).then(data => {

            var rows = data.split('\n').slice();

            var row = rows[rows.length-1].split('  ');
            ret.push(Number(row[2].trim()))
            ret.push(Number(row[4].trim()))
            
            document.getElementById("Light").innerHTML = "Light Intensity: " + Number(row[5].trim());
            document.getElementById("Water").innerHTML = Number(row[6].trim()) == 1 ? "Water Tank: Full" : "Water Tank: Empty";

            var d = new Date();
            var n = d.getHours();

            //----------------------------------Ligh Intensity Image Selection-------------------------------------------------//
            
            if(Number(row[5].trim()) < 50){
                console.log(n)
                if(n >= 19 || n < 5){
                    $("#lightImage").css("background", "url('/static/Moon.png')");
                }
                else{
                    $("#lightImage").css("background", "url('/static/Cloudy.png')");
                }
            }
            else
                $("#lightImage").css("background", "url('/static/Sunny.png')");   

            //-----------------------------------------------------------------------------------------------------------------//



            //----------------------------------Water Tank Image Selection-----------------------------------------------------//

            if(Number(row[6].trim()) == 1){
                $("#waterImage").css("background", "url('/static/FullLevel.png')");   
            }
            else{
                $("#waterImage").css("background", "url('/static/LowLevel.png')");  
            }
            //-----------------------------------------------------------------------------------------------------------------//
        })

        
        return ret;
    };

    function loadHumidityData() {
        //return Math.random();
        var ret1 = [];
        var ret2 = [];
        fetch('http://0.0.0.0:5000/data').then(res => res.text()).then(data => {

            var rows = data.split('\n').slice();

            rows.forEach(elem => {
                var row = elem.split('  ');
                ret1.push(Number(row[2].trim()))
                ret2.push(Number(row[4].trim()))
            })
            
        })
        return [ret1, ret2];
    };

    setInterval(function() {
        Plotly.plot('chart1', [{
            y:loadHumidityData()[0],
            type:'TimeRanges'
        }],layout1,{staticPlot: true});

        Plotly.plot('chart2', [{
            y:loadHumidityData()[1],
            type:'TimeRanges'
        }],layout2,{staticPlot: true});
    
    }, 1000)
    

    setInterval(function() {

        getData().then(res => {
            Plotly.extendTraces('chart1', {y:[[res[0]]]}, [0]);
        })
        
        getData().then(res => {
            Plotly.extendTraces('chart2', {y:[[res[1]]]}, [0]);
        })

        Datapoints++;

        if(Datapoints > 100){
            Plotly.relayout('chart1', {
                xaxis: {
                    range: [Datapoints - 100, Datapoints]
                }
            })

            Plotly.relayout('chart2', {
                xaxis: {
                    range: [Datapoints - 100, Datapoints]
                }
            })
        }
    }, 500);
    

</script>